<h1>{{title}}</h1>
<dx-button
    text="Poišči geolokacijo"
    (onClick)="getGeolocation()">
</dx-button>

<div>
  Geolokacija:
<a href='https://maps.google.com/?q={{lat}},{{lon}}' target="_blank">
  <a href='https://maps.apple.com/?q={{lat}},{{lon}}' target="_blank">
    {{geolocation}}
  </a>
</a>
</div>
<div>
  Celoten odgovor: {{ fullResponse }}
</div>

<div>
  Href Android "geo:LAT,LON" test:
  <a href='geo:0,0?q={{lat}},{{lon}}'>
      {{geolocation}}
  </a>
</div>

<button *ngIf="Pwa.promptEvent" (click)="installPwa()">
  Instaliraj PWA
</button>